<div style="margin: auto;">
    {{"<p>Desculpe, não entendi oque você disse.</p>" | safe if notRecognized else ""}}
    {{"<p>Ocorreu um erro inesperado.</p>" | safe if error else ""}}
    {{"<p>Estou acordando...</p>" | safe if initializing else ""}}
    {{"<img width='120px' src='/MMM-ClothAI/svg-loaders/svg-loaders/puff.svg'>" | safe if estelaListening else ""}}
</div>